<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2014 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="cordova-plugin-passportscannerplugin"
    version="1.2.1-dev">

  <name>eTaxFree passport scanner plugin</name>

  <repo>https://github.com/medvevic/Cordova-Plugin-Outsystems-Test.git</repo>

  <issue>https://github.com/medvevic/Cordova-Plugin-Outsystems-Test/issues</issue>

  <engines>
      <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module src="www/PassportScannerPlugin.js" name="PassportScannerPlugin">
    <clobbers target="window.plugins.passportscannerplugin" />
    <clobbers target="cordova.plugins.passportscannerplugin" />
    <clobbers target="plugins.passportscannerplugin" />
  </js-module>

  <platform name="android">
      <!-- <framework src="com.android.support:support-v4:+" /> -->

      <config-file target="res/xml/config.xml" parent="/*">
          <feature name="PassportScannerPlugin">
              <!-- <param name="android-package" value="nl.xservices.plugins.PassportScannerPlugin" /> -->
		  
		  <!-- C:\CordovaWork\Outsystems\src\org\apache\cordova\passportscanner -->
              <param name="android-package" value="org.apache.cordova.passportscanner.PassportScannerPlugin" />
          </feature>
      </config-file>

      <config-file target="AndroidManifest.xml" parent="/manifest">
          <uses-permission android:name="android.permission.CAMERA"/>
          <uses-feature android:name="android.hardware.usb.host" android:required="false" />
          <uses-sdk android:minSdkVersion="12" android:targetSdkVersion="21" />
      </config-file>

      <!-- <source-file src="src/android/nl/xservices/plugins/PassportScannerPlugin.java" target-dir="src/nl/xservices/plugins" /> -->
      <source-file src="src/org/apache/cordova/passportscanner/PassportScannerPlugin.java" target-dir="src/org/apache/cordova/passportscanner" />

      <dependency id="cordova-plugin-compat" version="^1.0.0" />

  </platform>

</plugin>
